Package: system-bridge
Version: $VERSION
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Aidan Timson <aidan@timmo.dev>
Homepage: https://github.com/timmo001/system-bridge
Description: System Bridge
 A bridge for your systems.
