[Unit]
Description=System Bridge
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/system-bridge backend --notify
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=system-bridge

[Install]
WantedBy=multi-user.target
