[Desktop Entry]
Name=System Bridge
Comment=System Bridge
Exec=system-bridge backend --notify
Icon=system-bridge
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=true
