[Desktop Entry]
Name=System Bridge
Comment=System Bridge
Exec=/usr/bin/system-bridge backend
Icon=system-bridge
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=true
