# Builds
*.exe
system-bridge
system-bridge-*
system-bridge.*
!system-bridge*.desktop
!system-bridge*.service
!system-bridge*.spec
system-bridge.rc
system-bridge.syso

# Legacy
.legacy/

# Act - Local GitHub Actions Testing
.act
.secrets

# OpenCode
.opencode

# NSIS
!installer.nsi.template
installer.nsi

# Windows icon
!system-bridge.rc

# Resources
!.resources/*

# Build
build/
