aiogithubapi==22.3.1
incremental==22.10.0
keyboard==0.13.5
mutagen==1.46.0
plyer==2.0.0
psutil==5.9.3
pyinstaller==5.5
sanic-ext==22.9.0
sanic-scheduler==1.0.7
sanic==22.6.2
screeninfo==0.8.1
zeroconf==0.39.2
