aiofiles==22.1.0
aiogithubapi==22.12.2
aiohttp==3.8.3
fastapi==0.89.1
incremental==22.10.0
keyboard==0.13.5
mutagen==1.46.0
plyer==2.1.0
psutil==5.9.4
pyinstaller==5.7.0
python-multipart==0.0.5
screeninfo==0.8.1
uvicorn[standard]==0.20.0
zeroconf==0.47.1
