1 ICON ".resources/system-bridge-dimmed.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 5,0,0,0
 PRODUCTVERSION 5,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "System Bridge"
            VALUE "FileDescription", "System Bridge - The bridge to your system"
            VALUE "FileVersion", "5.0.0-dev+f69d9e58"
            VALUE "InternalName", "system-bridge.exe"
            VALUE "LegalCopyright", "Copyright (C) 2025 Aidan Timson"
            VALUE "OriginalFilename", "system-bridge.exe"
            VALUE "ProductName", "System Bridge"
            VALUE "ProductVersion", "5.0.0-dev+f69d9e58"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
