[Desktop Entry]
Name=System Bridge Backend
Comment=A bridge for your systems - Backend
Type=Application
Encoding=UTF-8
Categories=System;Utility;
Exec=/usr/local/share/systembridge/backend/systembridge
Icon=/usr/local/share/systembridge/system-bridge.png
Path=/usr/local/share/systembridge
Terminal=false
