# C# .NET 8 Gitignore

# Ignore .vs directory
.vs/

# Ignore all files in the bin directory
bin/

# Ignore all files in the obj directory
obj/

# Ignore all files in the Properties directory
Properties/

# Ignore all files in the Resources directory
Resources/
