<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleGetInfoString</key>
    <string>System Bridge</string>
    <key>CFBundleExecutable</key>
    <string>system-bridge</string>
    <key>CFBundleIdentifier</key>
    <string>dev.timmo.system-bridge</string>
    <key>CFBundleName</key>
    <string>System Bridge</string>
    <key>CFBundleIconFile</key>
    <string>system-bridge-circle.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
  </dict>
</plist>
