name: Build MacOS

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

concurrency:
  group: build-macos-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  workflows:
    uses: timmo001/workflows/.github/workflows/build-node-executable-macos.yml@master
    secrets:
      APP_NAME: SystemBridge
      APP_FILE: system-bridge
      ICON_NAME: system-bridge-circle
