---
name: Build

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build-backend-linux:
    uses: timmo001/workflows/.github/workflows/build-python-linux.yml@master
    with:
      code-path: backend
      pre-install-command: |
        cd ../shared && pip install .
  build-backend-windows:
    needs:
      - build-windowssensors
    uses: timmo001/workflows/.github/workflows/build-python-windows.yml@master
    with:
      code-path: backend
      pre-install-command: |
        cd ../shared && pip install .
  build-cli:
    uses: timmo001/workflows/.github/workflows/build-python-linux.yml@master
    with:
      code-path: cli
      pre-install-command: |
        cd ../shared && pip install .
  build-connector:
    uses: timmo001/workflows/.github/workflows/build-python-linux.yml@master
    with:
      code-path: connector
  build-gui:
    uses: timmo001/workflows/.github/workflows/build-python-linux.yml@master
    with:
      code-path: gui
      pre-install-command: |
        cd ../shared && pip install .
  build-frontend:
    uses: timmo001/workflows/.github/workflows/build-node-linux.yml@master
    with:
      code-path: frontend
  build-windowssensors:
    uses: timmo001/workflows/.github/workflows/build-msbuild-windows.yml@master
    with:
      code-path: WindowsSensors
      package: SystemBridgeWindowsSensors.sln
