name: Build Windows

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

concurrency:
  group: build-windows-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  workflows:
    uses: timmo001/workflows/.github/workflows/build-node-executable-windows.yml@master
