---
name: Build

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build-backend-linux:
    uses: timmo001/workflows/.github/workflows/build-python-linux.yml@master
    with:
      code-path: backend
      pre-install-command: |
        cd ../shared && pip install .
  build-backend-windows:
    needs:
      - build-windowssensors
    uses: timmo001/workflows/.github/workflows/build-python-windows.yml@master
    with:
      additional-artifacts-name: windowssensors-build
      additional-artifacts-path: backend/systembridgebackend/WindowsSensors/bin
      code-path: backend
      pre-install-command: |
        cd ../shared && pip install .
  build-cli:
    uses: timmo001/workflows/.github/workflows/build-python-linux.yml@master
    with:
      code-path: cli
      pre-install-command: |
        cd ../shared && pip install .
  build-connector:
    uses: timmo001/workflows/.github/workflows/build-python-linux.yml@master
    with:
      code-path: connector
  build-gui:
    uses: timmo001/workflows/.github/workflows/build-python-linux.yml@master
    with:
      code-path: gui
      pre-install-command: |
        cd ../shared && pip install .
  build-frontend-node:
    uses: timmo001/workflows/.github/workflows/build-node-linux.yml@master
    with:
      additional-build-commands: |
        yarn export
      artifact-name: frontend-out
      artifact-path: frontend/out
      code-path: frontend
  build-frontend-package:
    needs:
      - build-frontend-node
    uses: timmo001/workflows/.github/workflows/build-python-linux.yml@master
    with:
      additional-artifacts-name: frontend-out
      additional-artifacts-path: frontend/out
      code-path: frontend
  build-windowssensors:
    uses: timmo001/workflows/.github/workflows/build-msbuild-windows.yml@master
    with:
      code-path: backend/systembridgebackend/WindowsSensors
      output-name: windowssensors-build
      output-path: backend/systembridgebackend/WindowsSensors/bin
      package: SystemBridgeWindowsSensors.sln
