name: Deploy Windows

# yamllint disable-line rule:truthy
on:
  release:
    types:
      - published
  workflow_run:
    workflows:
      - "Build Windows"
    branches:
      - master
    types:
      - completed
  workflow_dispatch:

jobs:
  workflows:
    uses: timmo001/workflows/.github/workflows/deploy-node-executable-windows.yml@master
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
