---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
      - deploy-dev
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  # deploy-shared:
  #   uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
  #   secrets:
  #     PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
  #     PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  #   with:
  #     code-path: shared
  #     module-name: systembridgeshared
  #     pre-install-command: |
  #       cd ../shared && pip install .
  #     use-incremental: true
  deploy-backend:
    uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
    secrets:
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    with:
      code-path: backend
      module-name: systembridgebackend
      pre-install-command: |
        cd ../shared && pip install .
      use-incremental: true
  # deploy-cli:
  #   needs:
  #     - deploy-backend
  #   uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
  #   secrets:
  #     PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
  #     PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  #   with:
  #     code-path: cli
  #     module-name: systembridgecli
  #     pre-install-command: |
  #       cd ../shared && pip install .
  #     use-incremental: true
  deploy-connector:
    needs:
      - deploy-backend
    uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
    secrets:
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    with:
      code-path: connector
      module-name: systembridgeconnector
      use-incremental: true
  # deploy-gui:
  #   needs:
  #     - deploy-connector
  #   uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
  #   secrets:
  #     PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
  #     PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  #   with:
  #     code-path: gui
  #     module-name: systembridgegui
  #     pre-install-command: |
  #       cd ../shared && pip install .
  #     use-incremental: true
