---
name: Deploy and Package

# yamllint disable-line rule:truthy
on:
  release:
    types:
      - published
  # schedule:
  #   - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  deploy-connector:
    uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
    secrets:
      PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    with:
      code-path: connector
      module-name: systembridgeconnector
      use-incremental: true
  deploy-shared:
    needs:
      - deploy-connector
    uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
    secrets:
      PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    with:
      code-path: shared
      module-name: systembridgeshared
      use-incremental: true
  deploy-backend:
    needs:
      - deploy-shared
    uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
    secrets:
      PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    with:
      code-path: backend
      module-name: systembridgebackend
      pre-install-command: |
        pip install --upgrade --pre systembridgeshared
        pip install .
      use-incremental: true
  deploy-cli:
    needs:
      - deploy-backend
    uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
    secrets:
      PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    with:
      code-path: cli
      module-name: systembridgecli
      pre-install-command: |
        pip install --upgrade --pre systembridgeshared
        pip install .
      use-incremental: true
  build-frontend-node:
    uses: timmo001/workflows/.github/workflows/build-node-linux.yml@master
    with:
      additional-build-commands: |
        yarn export
      artifact-name: frontend-out
      artifact-path: frontend/out
      code-path: frontend
  deploy-frontend:
    needs:
      - build-frontend-node
      - deploy-cli
    uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
    secrets:
      PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    with:
      additional-artifacts-name: frontend-out
      additional-artifacts-path: frontend/out
      code-path: frontend
      module-name: systembridgefrontend
      pre-install-command: |
        pip install --upgrade --pre systembridgeshared
        pip install .
      use-incremental: true
  deploy-container-amd64:
    needs:
      - deploy-frontend
    uses: timmo001/workflows/.github/workflows/deploy-container-linux.yml@master
    with:
      architecture: amd64
      container-slug: system-bridge
  deploy-gui:
    needs:
      - deploy-frontend
    uses: timmo001/workflows/.github/workflows/deploy-python-linux.yml@master
    secrets:
      PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    with:
      code-path: gui
      module-name: systembridgegui
      pre-install-command: |
        sudo apt install libegl-dev libpulse0
        pip install --upgrade --pre systembridgeshared
        pip install .
      use-incremental: true
  build-windowssensors-dotnet:
    uses: timmo001/workflows/.github/workflows/build-msbuild-windows.yml@master
    with:
      code-path: windowssensors/WindowsSensors
      output-name: windowssensors-build
      output-path: windowssensors/WindowsSensors/bin
      package: SystemBridgeWindowsSensors.sln
  deploy-windowssensors:
    needs:
      - build-windowssensors-dotnet
      - deploy-gui
    uses: timmo001/workflows/.github/workflows/deploy-python-windows.yml@master
    secrets:
      PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    with:
      additional-artifacts-name: windowssensors-build
      additional-artifacts-path: windowssensors/WindowsSensors/bin
      code-path: windowssensors
      module-name: systembridgewindowssensors
      pre-install-command: |
        pip install --upgrade --pre systembridgeshared
        pip install .
      use-incremental: true
  package-python-pyinstaller-linux:
    needs:
      - deploy-shared
      - deploy-backend
      - deploy-cli
      - deploy-frontend
      - deploy-gui
    uses: timmo001/workflows/.github/workflows/package-python-pyinstaller-linux.yml@master
    with:
      additional-pyinstaller-options: |
        --onedir \
        --windowed \
        --icon "resources/system-bridge.png" \
        --name "systembridge" \
        --collect-all "plyer" \
        --collect-all "systembridgeshared" \
        --collect-all "systembridgebackend" \
        --collect-all "systembridgecli" \
        --collect-all "systembridgefrontend" \
        --collect-all "systembridgegui" \
      create-setup: false
      entry-point-file: systembridge.py
      pre-package-command: |
        pip install \
          --upgrade \
          --pre \
          systembridgeshared \
          systembridgebackend \
          systembridgecli \
          systembridgefrontend \
          systembridgegui
  package-python-pyinstaller-windows:
    needs:
      - deploy-shared
      - deploy-backend
      - deploy-cli
      - deploy-frontend
      - deploy-gui
      - deploy-windowssensors
    uses: timmo001/workflows/.github/workflows/package-python-pyinstaller-windows.yml@master
    with:
      additional-pyinstaller-options: |
        --onedir `
        --windowed `
        --icon "resources/system-bridge.ico" `
        --name "systembridge" `
        --collect-all "plyer" `
        --collect-all "systembridgeshared" `
        --collect-all "systembridgebackend" `
        --collect-all "systembridgecli" `
        --collect-all "systembridgefrontend" `
        --collect-all "systembridgegui" `
        --collect-all "systembridgewindowssensors" `
      create-setup: false
      entry-point-file: systembridge.py
      pre-package-command: |
        pip install `
          --upgrade `
          --pre `
          systembridgeshared `
          systembridgebackend `
          systembridgecli `
          systembridgefrontend `
          systembridgegui `
          systembridgewindowssensors
