---
name: Lint

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

concurrency:
  group: lint-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint-black-backend:
    uses: timmo001/workflows/.github/workflows/lint-black.yml@master
    secrets:
      CODE_PATH: backend
  lint-black-cli:
    uses: timmo001/workflows/.github/workflows/lint-black.yml@master
    secrets:
      CODE_PATH: cli
  lint-black-gui:
    uses: timmo001/workflows/.github/workflows/lint-black.yml@master
    secrets:
      CODE_PATH: gui
  lint-eslint-frontend:
    uses: timmo001/workflows/.github/workflows/lint-eslint.yml@master
    secrets:
      CODE_PATH: frontend
  lint-jsonlint:
    uses: timmo001/workflows/.github/workflows/lint-jsonlint.yml@master
  lint-markdown-links:
    uses: timmo001/workflows/.github/workflows/lint-markdown-links.yml@master
  lint-markdownlint:
    uses: timmo001/workflows/.github/workflows/lint-markdownlint.yml@master
  lint-prettier:
    uses: timmo001/workflows/.github/workflows/lint-prettier.yml@master
  lint-pylint-backend:
    uses: timmo001/workflows/.github/workflows/lint-pylint.yml@master
    secrets:
      CODE_PATH: backend
  lint-pylint-cli:
    uses: timmo001/workflows/.github/workflows/lint-pylint.yml@master
    secrets:
      CODE_PATH: cli
  lint-pylint-gui:
    uses: timmo001/workflows/.github/workflows/lint-pylint.yml@master
    secrets:
      CODE_PATH: gui
  lint-yamllint:
    uses: timmo001/workflows/.github/workflows/lint-yamllint.yml@master
