---
name: Lint

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

concurrency:
  group: lint-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint-black-backend:
    uses: timmo001/workflows/.github/workflows/lint-black.yml@master
    with:
      code-path: backend
  lint-black-cli:
    uses: timmo001/workflows/.github/workflows/lint-black.yml@master
    with:
      code-path: cli
  lint-black-gui:
    uses: timmo001/workflows/.github/workflows/lint-black.yml@master
    with:
      code-path: gui
  lint-black-shared:
    uses: timmo001/workflows/.github/workflows/lint-black.yml@master
    with:
      code-path: shared
  lint-eslint-frontend:
    uses: timmo001/workflows/.github/workflows/lint-eslint.yml@master
    with:
      code-path: frontend
  lint-jsonlint:
    uses: timmo001/workflows/.github/workflows/lint-jsonlint.yml@master
  lint-markdown-links:
    uses: timmo001/workflows/.github/workflows/lint-markdown-links.yml@master
  lint-markdownlint:
    uses: timmo001/workflows/.github/workflows/lint-markdownlint.yml@master
  lint-prettier:
    uses: timmo001/workflows/.github/workflows/lint-prettier.yml@master
  lint-pylint-backend:
    uses: timmo001/workflows/.github/workflows/lint-pylint.yml@master
    with:
      code-path: backend
      module-name: systembridgebackend
      pre-install-command: |
        cd ../shared && pip install .
  lint-pylint-cli:
    uses: timmo001/workflows/.github/workflows/lint-pylint.yml@master
    with:
      code-path: cli
      module-name: systembridgecli
      pre-install-command: |
        cd ../shared && pip install .
  lint-pylint-gui:
    uses: timmo001/workflows/.github/workflows/lint-pylint.yml@master
    with:
      code-path: gui
      module-name: systembridgegui
      pre-install-command: |
        cd ../shared && pip install .
  lint-pylint-shared:
    uses: timmo001/workflows/.github/workflows/lint-pylint.yml@master
    with:
      code-path: shared
      module-name: systembridgeshared
  lint-yamllint:
    uses: timmo001/workflows/.github/workflows/lint-yamllint.yml@master
