---
name: Release Drafter

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  workflows:
    uses: timmo001/workflows/.github/workflows/release-drafter.yml@master
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
