---
name: Release Drafter

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  release-drafter:
    uses: timmo001/workflows/.github/workflows/release-drafter-node-executable.yml@master
