---
name: Test application

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test application
    container:
      image: ghcr.io/${{ github.repository }}/ci-build-arch:latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Mark workspace safe for git
        run: git config --global --add safe.directory .

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Build web client
        uses: ./.github/actions/build-client-web

      - name: Run tests
        run: go test -v ./...
        shell: bash
